@charset "UTF-8";
figure {
  padding: 0;
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

input,
textarea {
  all: unset;
}

body {
  font-family: "Roboto";
  font-weight: 700;
  color: #212121;
  font-size: 14px;
}

.container {
  display: flex;
  flex-basis: 1200px;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-size: 12px;
  padding: 0 40px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  display: flex;
  margin-bottom: 10px;
  justify-self: center;
  flex-direction: column;
  justify-content: space-around;
  transition-property: all;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

label:hover {
  fill: #2196F3;
  cursor: pointer;
}

label > textarea {
  max-width: 448px;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

@keyframes portfoliochange {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.menu-container {
  display: flex;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-bottom: 0px;
  justify-content: space-between;
  justify-items: center;
  flex-basis: 33%;
  border-bottom: solid 1px #ECECEC;
  align-items: center;
  margin-bottom: 0px;
}

.menu-container__nav {
  display: flex;
  flex-direction: row;
  align-self: baseline;
}

.menu-container__ul {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.14;
  padding-left: 0px;
  list-style: none;
}

.menu-container__ul--style {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  width: 300px;
  justify-items: center;
  margin-top: 32px;
}

.menu-container__ul--style2 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  width: 300px;
  justify-items: center;
  margin-top: 0px;
}

.menu-container__link {
  color: #212121;
  padding: 0;
  transition-property: cursor, fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container__link:hover {
  cursor: pointer;
  color: #2196F3;
  fill: #2196F3;
}

.menu-container__link:link {
  text-decoration: #2196F3;
}

.menu-container__link:active {
  color: #2196F3;
}

.menu-container__span {
  padding: 0;
  margin: 0;
}

.menu-container__span::after {
  display: flex;
  content: " ";
  border-bottom: 4px solid #2196F3;
  padding-top: 28px;
  width: 53px;
  justify-content: space-around;
  margin: 0;
}

.menu-container__tel {
  color: #757575;
  fill: #757575;
  padding-left: 5px;
}

.header-footer__logo {
  align-self: center;
  font-family: "Releway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-footer__blue {
  color: #2196F3;
}

.container-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-head .container-head__title {
  background-color: #2f303a;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/backgrand-people-in-office.webp), no-repeat;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  height: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1600px;
}

.container-head .container-head__button {
  background-color: #2196F3;
  color: #FFFFFF;
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.96px;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  border: #FFFFFF;
  line-height: 1.6;
  margin-top: 30px;
}

.modal__backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(50%, 50%);
}

.modal__main {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__x-close {
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal__header {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.modal__label {
  width: 448px;
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-left: 42px;
  tab-size: 0;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form:hover {
  border-color: #2196F3;
  box-shadow: none;
  cursor: pointer;
  fill: #2196F3;
  cursor: pointer;
}

.modal__svg {
  position: absolute;
  left: 16px;
  top: 33px;
}

.modal__textarea {
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:hover {
  border: 1px solid #2196F3;
}

.modal__textarea:focus {
  border: 1px solid #2196F3;
}

.modal__checkbox-input {
  position: absolute;
  width: 15px;
  height: 14px;
  background-color: #FFFFFF;
  border: 1px solid #212121;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 15px;
  z-index: 1;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-svg {
  position: absolute;
  width: 15px;
  height: 14px;
  left: 15px;
  top: 0px;
  z-index: 2;
  border-radius: 2px;
  transform: translate(0%, 0%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  position: relative;
  display: inline-block;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  z-index: 0;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox > a {
  color: #2196F3;
  text-decoration: underline;
}

.modal__checkbox:hover input ~ .modal__checkbox-svg {
  background-color: #2196f3;
  border-color: #2196f3;
  stroke: #fff;
  opacity: 1;
  cursor: pointer;
}

.modal__checkbox input:checked ~ .modal__checkbox-svg {
  background-color: #2196f3;
  border-color: #2196f3;
  stroke: #fff;
  opacity: 1;
}

.modal__checkbox-span {
  padding-left: 37px;
}

.modal__button {
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.96px;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  line-height: 1.6;
  margin-top: 2px;
  margin-left: 124px;
  border: 1px solid #2196f3;
}

.offer-gallery__titel {
  text-align: center;
  font-size: 36px;
  line-height: 1.18;
  padding-top: 94px;
  padding-bottom: 50px;
}

.offer-gallery__photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.offer-gallery__thumb {
  display: flex;
  position: relative;
}

.offer-gallery__thumb > .offer-gallery__underground {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  width: 370px;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  margin: 0 auto;
}

.offer-gallery__img {
  margin-right: 30px;
}

.offer-gallery__img:last-child {
  margin-right: 0;
}

.container-offer {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-direction: column;
}

.container-offer__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-offer__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.container-offer__svg {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border: 1px solid transparent;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 94px;
  border-radius: 4px;
}

.container-offer__src {
  margin: 25px 102.34px 25px 102.34px;
  stroke: #212121;
  fill: #212121;
  text-align: center;
  fill-opacity: 1;
  stroke-width: 0;
}

.container-offer__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}

.container-offer__header {
  font-size: 14px;
  line-height: 1.14;
}

.container-offer__content {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  width: 270px;
  height: 75px;
  margin-right: 30px;
  margin-bottom: 94px;
}

.container-offer__content:last-child {
  margin-right: 0;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 36px;
}

.container-button__button {
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
  border: #fff;
  line-height: 1.62;
  margin-right: 8px;
  transition-property: box-shadow, cursor, border-radius, text-align, background-color, color, border, line-height, margin-left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-button__button:hover {
  border-radius: 4px;
  text-align: center;
  background-color: #2196f3;
  color: white;
  border: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  line-height: 1.62;
  margin-left: 0px;
  cursor: pointer;
}

.container-clients {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-direction: column;
}

.container-clients__parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-clients__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.18;
  padding-top: 94px;
  padding-bottom: 50px;
}

.container-clients__photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.container-clients__svg {
  width: 172px;
  height: 92px;
  margin-right: 30px;
  border: solid 1px #AFB1B8;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 94px;
  transition-property: border, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-clients__svg:hover {
  border: solid 1px #2196F3;
  cursor: pointer;
}

.container-clients__svg:last-child {
  margin-right: 0;
}

.container-clients__graphics {
  width: 106px;
  height: 60.04px;
  fill: #AFB1B8;
  margin: 17.71px 32px 14.25px;
  text-align: center;
  stroke: #AFB1B8;
  fill-opacity: 1;
  stroke-width: 0;
  transition-property: fill, cursor, border, fill-opacity, stroke-width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-clients__graphics:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
  fill-opacity: 1;
  stroke-width: 0;
  cursor: pointer;
}

.container-clients__graphics:nth-child(2n+1) {
  margin: 16px 32px;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-gallery__flex {
  display: flex;
  list-style: none;
  width: 1200px;
  flex-wrap: wrap;
}

.photo-gallery__li {
  display: flex;
}

.photo-gallery__photo {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow, cursor, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-gallery__photo:nth-child(3n+3) {
  margin-right: 0;
}

.photo-gallery__photo:nth-child(1n+7) {
  margin-bottom: 94px;
}

.photo-gallery__photo:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  animation-name: portfoliochange;
}

.photo-gallery__animation {
  position: relative;
  z-index: 0;
}

.photo-gallery__animation:hover::before {
  content: "Technocrack jest popularną platformą wykorzystywaną do rozpowszechniania koronawirusa. Firmy wykorzystują tę platformę do celów szpiegowskich i ataków na niezabezpieczone serwery konkurencji";
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  z-index: 1;
  color: #FFFFFF;
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto';
  font-weight: 400;
  animation-name: portfoliochange;
  animation-duration: 250ms;
  position: absolute;
  top: 0px;
  animation-fill-mode: both;
  overflow: hidden;
  transform-origin: bottom;
}

.photo-gallery__figcaption {
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
  padding-right: 23px;
  border-bottom: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  border-left: solid 1px #EEEEEE;
  border-top: 0px;
  position: relative;
  z-index: 3;
}

.photo-gallery__figcaption p {
  font-weight: 400;
  color: #757575;
  line-height: 2;
}

.footer {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 171px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1600px;
}

.footer__div {
  display: inline-flex;
  flex-direction: row;
}

.footer__logo--white > span {
  color: #FFFFFF;
}

.footer__text > li {
  list-style: none;
  margin-bottom: 9px;
}

.footer__adres {
  width: 246px;
  color: white;
  font-style: normal;
  margin-top: 20px;
}

.footer__adres-next-line {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-media {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer__h {
  flex-basis: 206px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16.41px;
  margin-top: 4px;
  margin-bottom: 28px;
}

.footer__svg {
  list-style: none;
  flex-grow: 1;
  transition-property: cursor, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  stroke: #FFFFFF;
  fill: #FFFFFF;
  stroke-opacity: 0;
}

.footer__svg:hover {
  background-color: #2196F3;
  cursor: pointer;
}

.footer__form {
  width: auto;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-items: left;
}

.footer__label > input {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  transition-property: all;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
}

.footer__input:hover {
  border-color: #2196f3;
}

.footer__input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.96px;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  line-height: 1.6;
  border: 1px solid #2196f3;
  padding: 0;
  margin-top: 45px;
}

.footer__span {
  padding-left: 42px;
  padding-right: 24px;
}

.container-workers {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #F5F4FA;
  margin-top: 94px;
}

.container-workers_title {
  text-align: center;
  font-size: 36px;
  line-height: 1.18;
  padding-top: 94px;
  padding-bottom: 50px;
}

.container-workers_photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.container-workers__figure-ground > li > figure {
  background-color: #fff;
  padding-bottom: 30px;
  margin-bottom: 94px;
}

.container-workers__item {
  margin-right: 30px;
}

.container-workers__item:last-child {
  margin-right: 0;
}

.container-workers_shadow {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.container-workers__name {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  margin-top: 30px;
}

.container-workers__position-name {
  font-weight: 400;
  color: #757575;
  line-height: 1.16;
  margin-top: 10px;
}

.container-workers__social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-workers__span {
  list-style: none;
  transition-property: stroke, cursor, fill, fill-opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-workers__svg {
  background-color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  stroke: #AFB1B8;
  transition-property: cursor, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-workers__svg:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  cursor: pointer;
}
