.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 36px;
}
.container-button__button {
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    background-color: getColor(backgroun-icons);
    border: getColor(white-);
    line-height: 1.62;
    margin-right: 8px;
    transition-property: box-shadow, cursor, border-radius, text-align,
        background-color, color, border, line-height, margin-left;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border-radius: 4px;
        text-align: center;
        background-color: getColor(blue-brand);
        color: getColor(white-);
        border: getColor(white-);
        box-shadow: getShadow(button-offer);
        line-height: 1.62;
        margin-left: 0px;
        cursor: pointer;
    }
}
