.footer {
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 171px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1600px;
}
.footer__div {
    display: inline-flex;
    flex-direction: row;
}
.footer__logo--white > span {
    color: #FFFFFF;
}
.footer__text > li {
    list-style: none;
        margin-bottom: 9px;
}
.footer__adres {
    width: 246px;
    color: white;
    font-style: normal;
    margin-top: 20px;
}
.footer__adres-next-line {
    color: rgba(255, 255, 255, 0.6);
}
.footer__social-media {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}
.footer__h {
    flex-basis: 206px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.41px;
    margin-top: 4px;
    margin-bottom: 28px;
}
.footer__svg {
list-style: none;
    flex-grow: 1;
    transition-property: cursor, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.10);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    stroke: #FFFFFF;
    fill: #FFFFFF;
    stroke-opacity: 0;
    &:hover {
        background-color: #2196F3;
        cursor: pointer;
    }
}
.footer__form {
    width: auto;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-items: left;
}
.footer__label > input {
    padding-left: 16px;
    margin-right: 12px;
    width: 358px;
    transition-property: all;
    transition-duration: 2500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
    &:hover {
        border-color: #2196f3;
    }
    &::placeholder {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
    }
}
.footer__button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #2196f3;
    color: #fff;
    height: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.96px;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 4px;
    line-height: 1.6;
    border: 1px solid #2196f3;
    padding: 0;
    margin-top: 45px;
}
.footer__span {
    padding-left: 42px;
    padding-right: 24px;
}