.container-offer {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
}

.container-offer__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-offer__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.container-offer__svg {
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    border: 1px solid transparent;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 94px;
    border-radius: 4px;
}

.container-offer__src {
    margin: 25px 102.34px 25px 102.34px;
    stroke: #212121;
    fill: #212121;
    text-align: center;
    fill-opacity: 1;
    stroke-width: 0;
}

.container-offer__text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
}

.container-offer__header {
    font-size: 14px;
    line-height: 1.14;
}

.container-offer__content {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
    width: 270px;
    height: 75px;
    margin-right: 30px;
    margin-bottom: 94px;

    &:last-child {
        margin-right: 0;
    }
}